[submodule "07-token-lauchpad"]
	path = 07-token-lauchpad
	url = https://github.com/idityaGE/Solana-Token-Lauchpad.git
[submodule "18-bridge/lib/forge-std"]
	path = 18-bridge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "18-bridge/lib/openzeppelin-contracts"]
	path = 18-bridge/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
